<div class="container">
	<div class="row">
		{{#each asesoriascursadas}}
		  
    <div class="col s12 m3">
      <div class="card" >
        <div class="card-image">
          <img src="/image/paisaje.jpg">
          <span value="" class="card-title">{{Nombre_Asesoria}}</span>
        </div>
        <div class="card-content">
          <p>{{Horario_Inicio}}</p>
          <p>{{Horario_Fin}}</p>
          <p>{{Asesor}}</p>
          <p>{{Fecha_Fin}}</p>
          <p>{{Materia}}</p>
        </div>
        <div class="card-action">
        

          
        </div>
      </div>
    </div>
 
		{{/each}}
	</div>
</div>