<div class="container">
	<div class="row">
		{{#each Asesorias}}
		  
    <div class="col s12 m3">
      <div class="card" >
        <div class="card-image">
          <img src="/image/paisaje.jpg">
          <span value="{{ id_Asesoria}}" class="card-title">{{Nombre}}</span>
        </div>
        <div class="card-content">
          <p>{{Horario_Inicio}}</p>
          <p>{{Horario_Fin}}</p>
          <p>{{Fecha_Inicio}}</p>
          <p>{{Fecha_Fin}}</p>
          <p>{{Descripcion}}</p>
        </div>
        <div class="card-action">
          <form action="/links/listAsesorias" method="POST" class="">
          <input class="hide" name="id_Asesoria" value="{{ id_Asesoria}}"/>
          <button id="btn_{{id_Asesoria}}"class="btn-floating " ><i class="material-icons">add</i></button>
        </form>

          <h6>Inscribete</h6>
        </div>
      </div>
    </div>
 
		{{/each}}
	</div>
</div>