{{#each Solicitudes}}
<ul class="collection">
<li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">{{Usuario}}</span>
      <p>{{Materia}}<br>
       <p> Horario {{Hora_inicio}}  {{Hora_fin}}</p>
        <p>Hora de Creacion: {{Fecha}}</p>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>
{{/each}}